body {
    font-family: 'Pretendard';
    font-size: 15pt;
}

h1 {
    font-family: 'KingSejongInstitute';
    font-size: 50pt;
    text-align: center;
}

.h1-little {
    font-size: 30pt;
}

button {
    background-color: #243642;
    color: white;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

table.scoreboard {
    margin-top: 50px;
    margin-bottom: 20px;
}

table.scoreboard > thead {
    font-size: 60pt;
    height: 100px;
}

table.scoreboard > tbody {
    font-size: 180pt;
    height: 600px;
}

#blue-head, #blue-score {
    border-right: 10px solid #F2E5BF;
}

#red-head, #red-score {
    border-right: 10px solid #F2E5BF;
}

.pad {
    padding: 0 15px;
}

div {
    height: 100%;
}

button.full {
    width: 100%;
}

button.red {
    background-color: #D91656;
}

button.grey {
    background-color: #3C3D37;
}

button:disabled {
    opacity: 70%;
}

.small {
    font-size: 10pt;
}

.portpath {
    font-family: 'D2coding ligature';
}
